:root {
	/* try again... */
	--grayscale-100: #fdfdfd;
	--grayscale-200: #f6f6f6;
	--grayscale-300: #eaeaea;
	--grayscale-400: #d6d6d6;
	--grayscale-500: #bcbcbc;
	--grayscale-600: #9b9b9b;
	--grayscale-700: #767676;
	--grayscale-800: #505050;
	--grayscale-900: #272727;

	--warn: #ff4500;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--grayscale-100);
	color: var(--grayscale-900);
	font-family: sans-serif;
	line-height: 1.5;
}

.button,
.button--primary {
	appearance: none;
	border-radius: 0.1rem;
	box-shadow: none;
	font-weight: 700;
	padding: 0.35rem 0.5rem;
	text-transform: uppercase;
}

.button--primary {
	background-color: var(--grayscale-900);
	border: none;
	color: var(--grayscale-200);
}

.button--secondary {
	background-color: transparent;
	border: 2px solid var(--grayscale-200);
	color: var(--grayscale-200);
}

ul {
	list-style-type: none;
}

button:focus,
button:active,
button:hover {
	filter: brightness(0.9);
}

*:disabled {
	pointer-events: none;
	opacity: 0.5;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	appearance: none;
	background-color: transparent;
	border: 2px solid var(--grayscale-200);
	border-radius: 0.1rem;
	color: var(--grayscale-200);
	padding: 0.35rem 0.5rem;
	width: 100%;
}

.app {
	background-color: var(--grayscale-100);
	background: linear-gradient(10deg, var(--grayscale-600) 0%, var(--grayscale-400) 100%);
	min-height: 100vh;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: min-content auto;
	gap: 1rem;
}

.app-main {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.app-section {
	padding: 2rem;
}

.app-section__header {
	padding-bottom: 1rem;
}

.auth-stage {
	background-color: var(--grayscale-500);
	border-left: 0.5rem solid var(--grayscale-600);
	border-bottom: 0.1rem solid var(--grayscale-600);
	padding: 1rem;
}

.auth-stage:last-child {
	border-bottom: 0;
}

.auth-stage--active {
	border-color: var(--grayscale-900);
	background-color: var(--grayscale-800);
}

.form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
}

.form-elements {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 0.5rem;
	border: 0;
}

.input-group {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.input-group__label {
	color: var(--grayscale-200);
	font-size: 0.75rem;
	text-transform: uppercase;
}

.input-group__error {
	color: var(--warn);
	display: flex;
	align-items: center;
	gap: 0.25rem;
	font-size: 0.75rem;
}

.input-group__input--error {
	border-color: var(--warn);
}

.input-group__error::before {
	content: "!";
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 0.5em;
	font-weight: bold;
	width: 1rem;
	height: 1rem;
	margin-right: 0.5em;
	color: var(--warn);
	background-color: transparent;
	border-radius: 50%;
	border: 2px solid var(--warn);
}

.form-controls {
	display: flex;
	gap: 1rem;
}

.form-controls > * {
	flex: 1;
}
